<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Vue Dischi</title>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <header>
                    <h1 class="text-center text-capitalize mt-4">vue dischi</h1>
                </header>
                <select v-model="selectedGenre" class="text-capitalize" name="">
                    <option value="">all genres</option>
                    <option v-for="genre in genres" :value="genre">{{ genre }}</option>
                </select>
                <main>
                    <div class="cardbox" v-for="item in albums" v-if="selectedGenre == item.genre || selectedGenre == ''">
                        <img :src="item.poster" :alt="item.title">
                        <h3 class="text-center text-capitalize">{{ item.title}}</h3>
                        <span class="author text-center text-capitalize">{{ item.author }}</span>
                        <span class="year text-center">{{ item.year }}</span>
                    </div>
                </main>
            </div>
        </div>

        <script src="assets/main.js" charset="utf-8"></script>

    </body>
</html>
