* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    background-color: lightgrey;
    display: flex;
}

main {
    height: calc(100% - 60px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  

}

h3 {

}

span {

}

.cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 400px;
    background-color: red;
}

.cardbox img {
    max-width: 100%;
}
